
body{
    margin: 0;
    font-family: 'Open Sans', 'Sintony', sans-serif;
    line-height: 1.5em;
}

img{
    max-width: 100%;
}

.header{
    background-color: #FFF;
    width: 100%;
    position: absolute;
}

.js .header{
    position: fixed;
    width: 100%;
}

.logo-text{
    text-transform: uppercase;
    background-color: #63C6AE;
    font-size: 24px;
    margin: 0;
    padding: 20px;
    display: block;
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    float: left;
    text-align: right;
}

.header__btnMenu{
    float: right;
    margin: 1.2em 1.5em 0;
    background-color: transparent;
    border: none;
}

.js .header__nav{
    transition: max-height 0s;
}

.header__btnMenu .fas{
    font-size: 1.5em;
}

.header__nav{
    clear: left;
}

.header__nav ul{
    margin: 0;
    padding: 0;
}

.header__nav li{
    list-style-type: none;
    background-color: #242C2C;
    text-align: center;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
}

.header__nav a{
    color: #586165;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    display: block;
    padding: 25px 0;
    
    transition: color 0.5s linear;
}

.header__nav a:hover{
    color: #63C6AE;
}

.hero{
    height: 80vh;
    padding: 40px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background: 
        linear-gradient(45deg , white 50%, transparent 50%) left calc(50% + 20px) bottom no-repeat, 
        linear-gradient(-45deg, white 50%, transparent 50%) left calc(50% - 20px) bottom no-repeat,
        url(../imagens/01.jpg) center no-repeat;
    background-size: 40px 40px, 40px 40px, cover;
}

.hero__title{
    background-color: #63C6AE;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 30px 20px;
}

.hero__title abbr{
    text-decoration: none;
}

.hero__text{
    background-color: #242A2C;
    margin: 5px 30px 35px;
    color: #FFF;
    padding: 20px;
    font-size: 16px;
    text-transform: uppercase;
}

.hero__btn{
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 15px 25px;
    color: #FFF;
    text-decoration: none;
    font-size: none;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 1em;
    padding-right: 1em;
    
    max-width: 980px;
}

.people-cards{
    margin-top: 2.5em;
}

.people-cards__card + .people-cards__card{
    margin-top: 1.5em;
}

.people-cards__card:last-child{
    margin-bottom: 2.5em;
}

.people-cards__card:hover{
    outline: 8px solid #63C6AE;
    outline-offset: -5px;
}

.people-cards__card:hover .people-cards__avatar img{
    margin-top: -101%;
}

.people-cards__card:hover .people-cards__title{
    color: #64C6AE;
}

.people-cards__card:hover .people-cards__text{
    color: #64C6AE;
}

.people-cards__image{
    width: 100%;
}

.people-cards__avatar{
    margin: -55px auto;
    width: 88px;
    height: 87px;
    overflow: hidden;
}

.people-cards__content{
    text-align: center;
    padding: 40px 25px 10px;
    border-left: 1px solid #DBe1E7;  
    border-right: 1px solid #DBe1E7;
    border-bottom: 1px solid #DBe1E7;
}

.people-cards__title{
    color: #737C85;
    font-size: 22px;
    font-weight: normal;
}

.people-cards__text{
    color: #929DA5;
    font-size: 18px;
}

.content{
    background-color: #F8F9F9;
    padding: 20px 0 80px;
    border-top: 1px solid #E3E3E3;
}

.content h3{
    color: #737C85;
    font-size: 22px;
    padding-top: 40px;
    font-weight: 400;
}

.content p{
    color: #929DA5;
    font-size: 18px;
    word-spacing: 3px;
}

.button{
    padding: 15px 40px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    margin-right: 15px;
    margin-top: 5px;
    display: inline-block;
    text-transform: uppercase;
    
    transition: background-color 0.5s;
}

.button:hover{
    background-color: #929DA5;
}

.button-primary{
    background-color: #63C6AE;
    color: #FFFFFF;
}

.button-secundary{
    background-color: #455357;
    color: #FFFFFF;
}

.last-articles__title{
    background-color: #63C6AE;
    padding: 5px 0;
}

.last-articles__title h2{
    font-size: 24px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 400;
}

.last-articles__thumbs{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 0;
}

.last-articles__thumbs img{
    width: 100%;
    display: block;
}

.laptop-slides{
    background-color: #242A2C;
    padding: 125px 0 100px;
    width: 100%;
    overflow: auto;
}

.slideshow{
    white-space: nowrap;
}

.slideshow figure{
    display: inline-block;
}

.quote-container {
    background-color: #63C6AE;
    padding: 50px 0;
    border-bottom: 12px solid #48B9A1;
}

.quote-slideshow{
    
}

.quote-slideshow h2{
    color: #FFFFFF;
    font-size: 28px;
    font-style: italic;
    font-weight: normal;
}

.quote-slideshow figcaption{
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
}

.no-js .quote-slideshow figure + figure{
    margin-top: 5em;
}

.footer{
    background-color: #242A2C;
    padding: 50px 0 250px;
    color: #454E51;
    font-size: 18px;
}

.footer__logo{
    text-transform: uppercase;
    font-size: 22px;
}

.footer p{
    font-size: 18px;
}

.footer__links li{
    list-style: none;
}

.footer__links a{
    color: #454E51;
    display: block;
    font-weight: 600;
    text-decoration: none;  
    font-size: 18px;
}

@media screen and (min-width: 1024px){
    
    .header{
        position: fixed;
    }
    
    .logo-text{
        width: 25%;
        box-sizing: border-box;
    }
    
    .header__btnMenu{
        display: none;
    }
    
    .header__nav{
        float: left;
        margin-left: 5%;
        width: 70%;
        clear: none;
        max-width: 800px;
    }
    
    .js .header__nav{
        overflow: visible
    }
    
    .header__nav ul{
        display: flex;
        justify-content: space-around;
    }
    
    .header__nav li{
        border-bottom: none;
        flex-grow: 1;
    }

    .header__nav a{
        background-color: white;
        padding: 20px 0;
    }
    
    .people-cards{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
        margin-bottom: 2.5em;
    }

    .people-cards__card + .people-cards__card{
        margin: 0;
    }
    
    .content .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    }
    
    .last-articles__thumbs{
        grid-template-columns: repeat(6, 1fr);
    }
    
    .footer .container{
        display: flex;
    }
    
    .footer .container > *{
        margin: 1.5em;
    }
    
}






