
body{
    margin: 0;
    font-family: 'Open Sans', 'Sintony', sans-serif;
}

.header{
    background-color: #FFF;
    width: 100%;
}

.logo-text{
    text-transform: uppercase;
    background-color: #63C6AE;
    font-size: 24px;
    margin: 0;
    padding: 20px;
    display: block;
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    float: left;
}

.header__btnMenu{
    
}

.header__nav{
    clear: left;
}

.header__nav ul{
    margin: 0;
    padding: 0;
}

.header__nav li{
    list-style-type: none;
    background-color: #242C2C;
    padding: 25px 0;
    text-align: center;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
}

.header__nav li a{
    color: #586165;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}



