
body{
    margin: 0;
    font-family: 'Open Sans', 'Sintony', sans-serif;
    line-height: 1.5em;
}

img{
    max-width: 100%;
}

.header{
    background-color: #FFF;
    width: 100%;
    position: absolute;
}

.js .header{
    position: fixed;
    width: 100%;
    z-index: 10;
}

.logo-text{
    text-transform: uppercase;
    background-color: #63C6AE;
    font-size: 24px;
    margin: 0;
    padding: 20px;
    display: block;
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    float: left;
    text-align: right;
}

.header__btnMenu{
    float: right;
    margin: 1.2em 1.5em 0;
    background-color: transparent;
    border: none;
}

.js .header__nav{
    transition: max-height 0s;
}

.header__btnMenu .fas{
    font-size: 1.5em;
}

.header__nav{
    clear: left;
}

.header__nav ul{
    margin: 0;
    padding: 0;
}

.header__nav li{
    list-style-type: none;
    background-color: #242C2C;
    text-align: center;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
}

.header__nav a{
    color: #586165;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    display: block;
    padding: 25px 0;
    
    transition: color 0.5s linear;
}

.header__nav a:hover{
    color: #63C6AE;
}

.hero{
    height: 80vh;
    padding: 40px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background: 
        linear-gradient(45deg , white 50%, transparent 50%) left calc(50% + 20px) bottom no-repeat, 
        linear-gradient(-45deg, white 50%, transparent 50%) left calc(50% - 20px) bottom no-repeat,
        url(../imagens/01.jpg) center no-repeat;
    background-size: 40px 40px, 40px 40px, cover;
}

.hero__title{
    background-color: #63C6AE;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 30px 20px;
}

.hero__title abbr{
    text-decoration: none;
}

.hero__text{
    background-color: #242A2C;
    margin: 5px 30px 35px;
    color: #FFF;
    padding: 20px;
    font-size: 14px;
    text-transform: uppercase;
}

.hero__btn{
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 15px 25px;
    color: #FFF;
    text-decoration: none;
    font-size: none;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 1em;
    padding-right: 1em;
    
    max-width: 980px;
}

.people-cards{
    margin-top: 2.5em;
}

.people-cards__card + .people-cards__card{
    margin-top: 1.5em;
}

.people-cards__card:last-child{
    margin-bottom: 2.5em;
}

.people-cards__card:hover{
    outline: 8px solid #63C6AE;
    outline-offset: -5px;
}

.people-cards__card:hover .people-cards__avatar img{
    transform: translateY(-50%);
}

.people-cards__card:hover .people-cards__title{
    color: #64C6AE;
}

.people-cards__card:hover .people-cards__text{
    color: #64C6AE;
}

.people-cards__image{
    width: 100%;
}

.people-cards__avatar{
    margin: -55px auto;
    width: 88px;
    height: 87px;
    overflow: hidden;
}

.people-cards__content{
    text-align: center;
    padding: 40px 25px 10px;
    border-left: 1px solid #DBe1E7;  
    border-right: 1px solid #DBe1E7;
    border-bottom: 1px solid #DBe1E7;
}

.people-cards__title{
    color: #737C85;
    font-size: 22px;
    font-weight: normal;
}

.people-cards__text{
    color: #929DA5;
    font-size: 16px;
}

.content{
    background-color: #F8F9F9;
    padding: 20px 0 80px;
    border-top: 1px solid #E3E3E3;
}

.content h3{
    color: #737C85;
    font-size: 22px;
    padding-top: 40px;
    font-weight: 400;
}

.content p{
    color: #929DA5;
    font-size: 16px;
    word-spacing: 3px;
}

.button{
    padding: 15px 40px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    margin-right: 15px;
    margin-top: 5px;
    display: inline-block;
    text-transform: uppercase;
    
    transition: background-color 0.5s;
}

.button:hover{
    background-color: #929DA5;
}

.button-primary{
    background-color: #63C6AE;
    color: #FFFFFF;
}

.button-secundary{
    background-color: #455357;
    color: #FFFFFF;
}

.last-articles__title{
    background-color: #63C6AE;
    padding: 5px 0;
}

.last-articles__title h2{
    font-size: 24px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 400;
}

.last-articles__thumbs{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 0;
}

.last-articles__thumbs img{
    width: 100%;
    display: block;
}

.js .laptop-slides{
    overflow: hidden;
}

.js .laptop-slides .slideshow{
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 950px;
}

.js .laptop-slides .slideshow figure{
    position: absolute;
    opacity: 0;
    width: 85%;
    top: 0;
    left: 0;
    margin-left: 7.5%;
    
    transition: opacity 1s;
    
}

.js .laptop-slides .slideshow figure.show{
    opacity: 1;
    position: static;
    margin-left: 7.5%;
}

.js .laptop-slides .prev, .js .laptop-slides .next{
    z-index: 3;
    position: absolute;
    top: 42%;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 16px;
}

.js .laptop-slides .prev{
    left: 10px;
}

.js .laptop-slides .next{
    right: 10px;
}


.laptop-slides{
    background-color: #242A2C;
    padding: 125px 0 100px;
    width: 100%;
    overflow: auto;
}

.slideshow{
    white-space: nowrap;
}


.slideshow figure{
    display: inline-block;
}

.js .quote-slideshow{
    position: relative;
    width: 100%;
    margin: auto;
    max-width: 950px;
    box-sizing: border-box;
    padding: 0 50px;
    
}

.js .quote-slideshow figure{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 50px;
    right: 40px;
    box-sizing: border-box;
    margin: 0;
    padding-left: 40px;
    padding-right: 30px;
    
    transition: opacity 1s;
    
}

.js .quote-slideshow figure.show{
    opacity: 1;
    position: static;
    box-sizing: border-box;
    margin: 0;
    padding-left: 40px;
    padding-right: 30px;
}

.js .quote-slideshow figure h2{
    margin-top: 0;
}

.js .quote-slideshow .prev, .js .quote-slideshow .next{
    z-index: 3;
    position: absolute;
    top: 40%;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 12px 3px 13px;
    box-sizing: border-box;
    border-radius: 50%;
    text-align: center;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.2);
    
    transition: all 0.5s linear;
}

.js .quote-slideshow .prev:hover, .js .quote-slideshow .next:hover{
    color: #BBBBBB;
    background-color: rgba(0, 0, 0, 0.3);
}

.js .quote-slideshow .prev{
    left: 1%;
}

.js .quote-slideshow .next{
    right: 1%;
}


.quote-container {
    background-color: #63C6AE;
    padding: 50px 0;
    border-bottom: 12px solid #48B9A1;
}

.quote-slideshow{
    
}

.quote-slideshow h2{
    color: #FFFFFF;
    font-size: 28px;
    font-style: italic;
    font-weight: normal;
}

.quote-slideshow figcaption{
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
}

.no-js .quote-slideshow figure + figure{
    margin-top: 5em;
}

.footer{
    background-color: #242A2C;
    padding: 50px 0 250px;
    color: #454E51;
    font-size: 16px;
}

.footer__logo{
    text-transform: uppercase;
    font-size: 22px;
}

.footer p{
    font-size: 16px;
}

.footer__links li{
    list-style: none;
}

.footer__links a{
    color: #454E51;
    display: block;
    font-weight: 600;
    text-decoration: none;  
    font-size: 16px;
}

@media screen and (min-width: 979.99px){
    
    .header{
        position: fixed;
    }
    
    .logo-text{
        width: 25%;
        box-sizing: border-box;
    }
    
    .header__btnMenu{
        display: none;
    }
    
    .header__nav{
        float: left;
        margin-left: 5%;
        width: 70%;
        clear: none;
        max-width: 800px;
    }
    
    .js .header__nav{
        overflow: visible
    }
    
    .header__nav ul{
        display: flex;
        justify-content: space-around;
    }
    
    .header__nav li{
        border-bottom: none;
        flex-grow: 1;
    }

    .header__nav a{
        background-color: white;
        padding: 20px 0;
    }
    
    .people-cards{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
        margin-bottom: 2.5em;
    }

    .people-cards__card + .people-cards__card{
        margin: 0;
    }
    
    .content .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    }
    
    .last-articles__thumbs{
        grid-template-columns: repeat(6, 1fr);
    }
    
    .js .laptop-slides .prev{
        left: 0;
    }

    .js .laptop-slides .next{
        right: 0;
    }
    
    .footer .container{
        display: flex;
    }
    
    .footer .container > *{
        margin: 1.5em;
    }
    
}






