
body{
    margin: 0;
    font-family: 'Open Sans', 'Sintony', sans-serif;
    line-height: 1.5em;
}

img{
    max-width: 100%;
}

.header{
    background-color: #FFF;
    width: 100%;
}

.logo-text{
    text-transform: uppercase;
    background-color: #63C6AE;
    font-size: 24px;
    margin: 0;
    padding: 20px;
    display: block;
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    float: left;
}

.header__btnMenu{
    
}

.header__nav{
    clear: left;
}

.header__nav ul{
    margin: 0;
    padding: 0;
}

.header__nav li{
    list-style-type: none;
    background-color: #242C2C;
    text-align: center;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
}

.header__nav a{
    color: #586165;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    display: block;
    padding: 25px 0;
    transition: 0.5s linear;
}

.header__nav a:hover{
    color: #63C6AE;
}

.hero{
    height: 80vh;
    padding: 40px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background: 
        linear-gradient(45deg , white 50%, transparent 50%) left calc(50% + 20px) bottom no-repeat, 
        linear-gradient(-45deg, white 50%, transparent 50%) left calc(50% - 20px) bottom no-repeat,
        url(../imagens/01.jpg) center no-repeat;
    background-size: 40px 40px, 40px 40px, cover;
}

.hero__title{
    background-color: #63C6AE;
    color: #FFF;
    font-size: 28px;
    font-weight: 600;
    padding: 30px 20px;
}

.hero__title abbr{
    text-decoration: none;
}

.hero__text{
    background-color: #242A2C;
    margin: 5px 30px 35px;
    color: #FFF;
    padding: 20px;
    font-size: 16px;
    text-transform: uppercase;
}

.hero__btn{
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 15px 25px;
    color: #FFF;
    text-decoration: none;
    font-size: none;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 1em;
    padding-right: 1em;
}

.people-cards{
    margin-top: 2.5em;
}

.people-cards__card{
    margin-top: 1.5em;
}

.people-cards__card:last-child{
    margin-bottom: 2.5em;
}

.people-cards__card:hover{
    outline: 8px solid #63C6AE;
    outline-offset: -5px;
}

.people-cards__card:hover .people-cards__avatar img{
    transform: translateY(-50%);
}

.people-cards__card:hover .people-cards__title{
    color: #64C6AE;
}

.people-cards__card:hover .people-cards__text{
    color: #64C6AE;
}



.people-cards__image{
    width: 100%;
}

.people-cards__avatar{
    margin: -55px auto;
    width: 88px;
    height: 88px;
    overflow: hidden;
}

.people-cards__content{
    text-align: center;
    padding: 40px 25px 10px;
    border-left: 1px solid #DBe1E7;   
}

.people-cards__title{
    color: #737C85;
    font-size: 21px;
    font-weight: normal;
}

.people-cards__text{
    color: #929DA5;
    font-size: 14px;
}




